<div class="container">
  <div class="panel panel-primary">
    About
    <h3>infos:</h3>
    <div class="">
        <ul class="list-group">
          <li class="list-group-item">Email: {{info.email}}</li>
          <li class="list-group-item">Nom: {{info.name}}</li>
          <li class="list-group-item">Tel: {{info.tel}}</li>
        </ul>
    </div>
    <div>
      <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
        <div class="form-group">
          <label class="custom-control-label">Message: </label>
          <input required="" type="text" name="comment"
           [(ngModel)]="commentaire.comment" >
          <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Ajouter commentaire</button>
        </div>

      </form>

    </div>
    <div>
      <h3>Commentaires</h3>
      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let c of comments">
            {{c.comment}}
            <span class="badge" style="float: right">{{c.date|date:'dd/MM/yyyy'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
